google_business.json

{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -180,
          60
        ],
        "id": "ebc9ad36-1aa4-496d-9077-f8f73fb8141f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token=apify_api_uahvntM6RPO891UwWLbJpUmbaOyhjk1PLQDi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json.Profile }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 200,\n    \"resultsType\": \"posts\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          40,
          60
        ],
        "id": "60db24c9-d835-4229-b156-f638aee4f77b",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "fieldToSplitOut": "inputUrl, type, caption, url, commentsCount, likesCount, videoPlayCount",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          260,
          60
        ],
        "id": "f9d8e74d-d488-430f-965c-c874fcaa6fb9",
        "name": "Split Out"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1h3zFJe1SLis7l8jlPAw7gPFBqoopRIjaYZkHiOmFF_I",
            "mode": "list",
            "cachedResultName": "Instagram_Scraper",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3zFJe1SLis7l8jlPAw7gPFBqoopRIjaYZkHiOmFF_I/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3zFJe1SLis7l8jlPAw7gPFBqoopRIjaYZkHiOmFF_I/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Input": "={{ $json.inputUrl }}",
              "Type": "={{ $json.type }}",
              "Caption": "={{ $json.caption }}",
              "ImageUrl": "={{ $json.url }}",
              "Comments": "={{ $json.commentsCount }}",
              "Likes": "={{ $json.likesCount }}",
              "VideoPlayCount": "={{ $json.videoPlayCount }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Input",
                "displayName": "Input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Type",
                "displayName": "Type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Caption",
                "displayName": "Caption",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ImageUrl",
                "displayName": "ImageUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Comments",
                "displayName": "Comments",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Likes",
                "displayName": "Likes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VideoPlayCount",
                "displayName": "VideoPlayCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          480,
          60
        ],
        "id": "391c46cb-9b7f-49e4-9acb-cb5758861bb3",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0My7iugKHhrJfP6O",
            "name": "Google Sheets account 4"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "When clicking ‘Execute workflow’": [
        {
          "Profile": "https://www.instagram.com/chnabeel922/"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a16e1b46ab801605efa207095d2a3fee79bac60aa0d5e84869bf43c345394463"
    }
  }